<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="LogLevelComJetSys">$${env:LOG_LEVEL_COM_JETSYS:-trace}</Property>
		<Property name="LogLevelOrgSpringframework">$${env:LOG_LEVEL_ORG_SPRINGFRAMEWORK:-info}</Property>
		<Property name="LogLevelOrgHibernateType">$${env:LOG_LEVEL_ORG_HIBERNATE_TYPE:-info}</Property>
		<Property name="LogLevelOrgHibernateSql">$${env:LOG_LEVEL_ORG_HIBERNATE_SQL:-info}</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout  pattern="%highlight{%d{ISO8601_BASIC}} %-5level %markerSimpleName %highlight{[%5T]}  %15c{1} - %highlight{%msg%n}" />
			<!--			<JsonLayout-->
			<!--					complete="false"-->
			<!--					compact="true"-->
			<!--					eventEol="true">-->
			<!--				<KeyValuePair key="@timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}"/>-->
			<!--			</JsonLayout>-->
		</Console>

	</Appenders>
	<Loggers>

		<logger name="org.springframework.kafka"
				level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.springframework"
				level="${LogLevelOrgSpringframework}" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.apache.kafka"
				level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.hibernate"
				level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="com.zaxxer.hikari"
				level="info" additivity="false">
			<appender-ref ref="Console" />
		</logger>

		<!-- At TRACE level This will log the BIND VARIABLES -->
		<logger name="org.hibernate.type"
				level="${LogLevelOrgHibernateType}" additivity="false">
			<appender-ref ref="Console" />
			<!-- At DEBUG level this will log the actual SQL Statements generated by Hibernate -->
		</logger>
		<logger name="org.hibernate.sql"
				level="${LogLevelOrgHibernateSql}" additivity="false">
			<appender-ref ref="Console" />
		</logger>

		<logger name="com.fasterxml"
				level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="com.jet_sys"
				level="${LogLevelComJetSys}" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<Root level="info">
			<appender-ref ref="Console"/>
		</Root>
	</Loggers>
</Configuration>